html{
	background-color:#f9f9f9;
}
nav {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;

}

.logo {
	color: white;
}

nav input {
	width: 80%;
	padding-left: 3%;
	margin-top: 3%;
}
nav .logo img {
	width: 100px;
	padding-left: 15%;
}
nav .user_control {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	padding-top: 5%;
}
nav .icon-fix {
	margin-top: 8px;
}
nav .icon-fix2 {
	margin-top: 4px;
}
.maindiv{
display:grid;
grid-template-columns:2fr 1fr;
height:400px;
}
.videoinfo{
	display:grid;
	grid-template-columns:1fr 1fr;
	margin-top: -20px;
	
	
}
.videoplay{
	
	height:400px;
}
.videoinfo h5{
	font-size:15px;
	margin-top:15px;
}
.upload-info {
	display: grid;
	grid-template-columns: 1fr 10fr;
}
.channel-info {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.submit-btn{
	text-align: right;
}
.submit-btn button {
	background-color: red;
	width: 120px;
	height: 40px;
	font-size: 15px;
	color:white;
	text-transform: uppercase;
}
.upload-info h3 {
	margin-bottom: 0px;
	margin-top: 0px;
}
.channel-info {
	padding-top: 20px;
}
.maindiv {
	padding-left: 35px;
	padding-right: 35px;
}
.autoplay{
	display:grid;
	grid-template-columns:1fr 1fr;
}
.autoplayenabled{
	color:gray;
	text-align:right;
	
}


