html {
  background-color: #f9f9f9;
  font-family: "Lato";
}

/* dark mode */
body .dark {
  background-color: #000;
  color: white;
  font-family: "Lato";
}

.dark {
  background-color: #000;
  color: white;
}

.dark .searchbar button {
  background-color: #000;
}

.dark header {
  padding-top: 13px;
}

.dark-logo img {
  height: 110%;
}

.dark header .icon-fix2 {
  margin-top: 7px;
}

.dark .upload-info div img {
  height: 47px;
}

.dark .upload-info .pt7 {
  padding-top: 0;
}

.dark section {
  padding-top: 15px;
}

.dark .menuicon2 {
  height: 82%;
  margin-top: auto;
  width: 45px;
}

.dark .user_control {
  padding-top: 5px;
}

.dark header .logo img {
  margin-top: -5px;
}

/* dark mode */
nav {
  display: grid;
  grid-template-columns: 3fr 7fr 3fr;
}

.logo {
  color: white;
}

nav input {
  width: 80%;
  padding-left: 3%;
  padding-top: 0px;
  height: 20px;
}

nav .logo img {
  width: 100px;
}

nav .menuicon {
  height: 25px;
  padding-top: 7px;
}

nav .user_control {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 5%;
}

nav .icon-fix {
  margin-top: 8px;
}

nav .icon-fix2 {
  margin-top: 4px;
}

/* navbar end */
header {
  display: grid;
  grid-template-columns: 3fr 7fr 3fr;
}


.logo {
  color: white;
}

header input {
  height: 20px;
  padding-left: 3%;
  padding-top: 0;
  width: 80%;
}

header .logo img {
  padding-left: 15%;
  width: 100px;
}

header .user_control {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 5%;
}

header .icon-fix {
  margin-top: 8px;
}

header .icon-fix2 {
  margin-top: 4px;
}

.maindiv {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 400px;
}

.videoinfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: -20px;
}

.videoplay {
  height: 400px;
}

.videoinfo h5 {
  font-size: 15px;
  margin-top: 15px;
}

.upload-info {
  display: grid;
  grid-template-columns: 1fr 10fr;
  padding-right: 20px;
}

.topline {
  border-top: 1px solid #cfcdcd;
}

.channel-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.submit-btn {
  text-align: right;
}

.submit-btn button {
  background-color: red;
  width: 120px;
  height: 40px;
  font-size: 15px;
  color:white;
  text-transform: uppercase;
}

.upload-info h3 {
  margin-bottom: 0px;
  margin-top: 0px;
}

.channel-info {
  padding-top: 20px;
}

main {
  padding-left: 25px;
  padding-right: 25px;
}

.videodesc {
  text-align: justify;
}

.autoplay {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.autoplayenabled {
  color: gray;
  text-align: right;
}

.autoplay h4 {
  font-size: 15px;
  font-weight: 100;
  font-family: "Lato";
  margin-top: 10px;
}

.autoplay h3 {
  font-size: 20px;
  font-weight: 100;
}

.relvideo {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.relvideodiv {
  height: 40%;
}

.relsection {
  padding-left: 20px;
}

.relvideo h5 {
  margin-top: 3px;
  margin-bottom: 3px;
}

.title-style {
  color: gray;
  font-weight: 100;
}

.searchbar {
  display: grid;
  grid-template-columns: 50fr 3fr;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.searchbar input {
  width: 100%;
  font-size: 16px;
  height: 100%;
}

.searchbar button {
  background-color: #f9f9f9;
  vertical-align: center;
  height: 100%;
  width: 80px;
}

.searchbar img {
  height: 23px;
}

.commentage {
  color: gray;
  font-size: 17px;
  font-weight: 300;
  height: 4rem;
}

.channel-info span {
  color: gray;
}

.videoshare {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding-top: 10px;
  color: gray;
}

.pt3 {
  padding-top: 3px;
}

.pt5 {
  padding-top: 5px;
}

.pt7 {
  padding-top: 7px;
}

.pt8 {
  padding-top: 8px;
}

.pt10 {
  padding-top: 10px;
}

.pt15 {
  padding-top: 15px;
}

.pl20 {
  padding-left: 20px;
}

.pl30 {
  padding-left: 30px;
}

article div div img {
  margin-top: -5px;
  padding-left: 42px;
}

.mar25 {
  margin-top: 25px;
}

.marl4 {
  margin-left: 4px;
}

.marl2 {
  margin-left: 2px;
}

.commentbuttons .pt10 a {
  color: gray;
}

.he25 {
  height: 25px;
}

.usercomm2 {
  margin-top: -5px;
  padding-left: 61px;
}

.userimage {
  height: 25px;
}

.upload-info div img {
  margin-top: -5px;
  padding-left: 61px;
}

.col-1-10 {
  display: grid;
  grid-template-columns: 1fr 10fr;
}

.col-8-4 {
  display: grid;
  grid-template-columns: 8fr 4fr;
}

.commentbuttons {
  display: grid;
  font-family: "Lato";
  grid-template-columns: 1fr 1fr 1fr 15fr;
}

.section {
  display: inline-block;
  grid-area: section;
  margin-left: 55px;
  width: 58%;
}

.aside {
  float: right;
  grid-area: aside;
  width: 33%;
}

.article {
  grid-area: article;
  margin-left: 55px;
}

.main-cont {
  border: 20px yellow solid;
  display: grid;
  grid-area:
  "section aside"
  "article aside";
  grid-template-columns: 1fr 1fr;
			}

iframe {
  border: 0;
  width: 100%;
}

section {
  padding-left: 35px;
  padding-top: 15px;
  width: 93%;
}

article {
  width: 95%;
}

aside {
  padding-right: 35px;
}

.upload-info .pl20 img {
  height: 50px;
}

.upload-info div img {
  height: 50px;
}

article .pt7 img {
  height: 40px;
}

.commentbuttons .comment_icons img {
  padding-left: 0px;
}

.menuicon2 {
  padding-top: 10px;
  width: 35px;
}

.autoplay h3 {
  margin-top: 10px;
}

nav .navmenu img {
  width: 34px;
}

.likebtn {
  background: url('img/like.png');
}
