html{
	background-color:#f9f9f9;
}
nav {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;

}

.logo {
	color: white;
}

nav input {
	width: 80%;
	padding-left: 3%;
	padding-top: 0px;
	height: 20px;
}
nav .logo img {
	width: 100px;
	padding-left: 15%;
}
nav .user_control {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	padding-top: 5%;
}
nav .icon-fix {
	margin-top: 8px;
}
nav .icon-fix2 {
	margin-top: 4px;
}
.maindiv{
display:grid;
grid-template-columns:2fr 1fr;
height:400px;
}
.videoinfo{
	display:grid;
	grid-template-columns:1fr 1fr;
	margin-top: -20px;
	
	
}
.videoplay{
	
	height:400px;
}
.videoinfo h5{
	font-size:15px;
	margin-top:15px;
}
.upload-info .comment{
	display: grid;
	grid-template-columns: 1fr 10fr;
}
.channel-info {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.submit-btn{
	text-align: right;
}
.submit-btn button {
	background-color: red;
	width: 120px;
	height: 40px;
	font-size: 15px;
	color:white;
	text-transform: uppercase;
}
.upload-info h3 {
	margin-bottom: 0px;
	margin-top: 0px;
}
.channel-info {
	padding-top: 20px;
}
main {
	padding-left: 25px;
	padding-right: 25px;
}
.videodesc{
	text-align:justify;
}
.autoplay{
	display:grid;
	grid-template-columns:1fr 1fr;
}
.autoplayenabled{
	color:gray;
	text-align:right;
	
	
}
.autoplay h4{
	font-size:15px;
	font-weight: 100;


}
.autoplay h3{
	font-size:20px;
	font-weight: 100;


}
.relvideo{
	display: grid;
	grid-template-columns: 1fr 1fr;
} 
.relsection {
	padding-left: 20px;	
}
.relvideo h5 {
	margin-top: 3px; margin-bottom: 3px;
}
.title-style {
	color: gray;
	font-weight: 100;
}
.searchbar {
	display: grid;
	grid-template-columns: 10fr 1fr;
	margin-top: 2%;
}
.searchbar input {
	width: 100%;
}
.searchbar button {
	background-color: #f9f9f9;
}
.searchbar img {
	height : 20px;
}
.searchbar input{

font-size:16px;
}
.commentage{
	color: gray;
	font-size:0.9rem;
}
.channel-logo{
	margin-top:24%;
	height:4rem;
}
.channel-info span{
	color:gray;
}